body {
	margin: 0;
	padding: 0;
	font-family: Lora, serif;
	color: #000000;
}

header {
	background-color: #f7f5ef;
	color: #fff;
	padding: 10px;
	color: #000000; 
	z-index: 2;

}

header h1 {
	margin: 0;
	font-size: 35px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

#titulo{
	display: block;
    margin: 0 auto;
	width:40%;
	height: 5%;
	margin-bottom: 5px;
	margin-top: 5px;
}
#slogan{
	display: block;
    margin: 0 auto;
	width:45%;
	height: 5%;
	margin-bottom: 10px;
	margin-top: 7px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 100%;
	margin: 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 0px;
	padding: 0px;
	background-color: #f7f5ef;

}

section {
	flex: 2;
}

section h2 {
	margin-top: 0;
	
}

article {
	margin-bottom: 40px;
}

article h3 {
	margin-top: 0;
}

article img {
	max-width: 100%;
}

aside {
	flex: 1;
}

aside h2 {
	margin-top: 0;
}

aside ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;

}

aside li {
	margin-bottom: 10px;
}

aside a {
	color: #ffffff;
	text-decoration: none;
}

h3 {
	margin: 0;
	font-size: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
  }

p {
	margin: 0;
	font-size: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	font-family: Lora;
  }

#card_bot{
	position: relative;
	background-color: #808385;
	padding: 10px;
	border-color: #808385;
}


#productos{
	position: relative;
	background-color: #f7f5ef;
	padding: 5px;
	border-color: #808385;
	z-index: 1;

}

#boton-vaciar{
	background-color: #8d8d8d; 
	border: none; 
	color: white; 
	padding: 10px 30px; 
	text-align: center; 
	text-decoration:solid;
	display: inline-block;	
	font-size: 18px; 
	border-radius: 5px; 
	cursor: pointer;
	margin-bottom: 5px;

}

#boton-seguir-comprando{
	background-color: #8d8d8d; 
	border: none; 
	color: white; 
	padding: 10px 30px; 
	text-align: center; 
	text-decoration:solid; 
	display: inline-block; 
	font-size: 18px; 
	border-radius: 5px; 
	cursor: pointer;
	margin-bottom: 10px;

}

#boton-finalizar{
	background-color: #8d8d8d; 
	border: none; 
	color: white; 
	padding: 10px 30px; 
	text-align: center; 
	text-decoration:solid; 
	display: inline-block; 
	font-size: 18px; 
	border-radius: 5px; 
	cursor: pointer;
	margin-bottom: 10px;

}

#container {
	display: flex;
  }

  
  #sidebar {
	position: absolute;
	top: 10px;
	left: 0;
	width: 300px;
	background-color: #f2f2f2;
	transition: transform 0.3s ease-in-out;
	transform: translateX(-310px);
	z-index: 2;
  }
  
  #sidebar.closed {
	transform: translateX(0);
  }
  
  #toggleBtn {
	position: absolute;
	top: 80px;
	right: 10px;
	left: 10px;
	border: none; 
	color: white; 
	padding: 10px 30px; 
	text-align: center; 
	display: inline-block; 
	font-size: 18px; 
	border-radius: 5px; 
	cursor: pointer;
	margin-left: 310px;
	background-image: url("./Images/cart.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-size: 35px 35px;
  }
  
 
  #buttons {
	margin-top: 20px;
  }
  
  .boton {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
  }
  
  .boton:hover {
	background-color: #555;
  }

/* Footer */
footer{
	background-color: #d9d9d9;
	color: #fff;
	padding: 20px;
	text-align: center;
} 
  .social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .social-icon {
	margin-top: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 0 10px;
	border-radius: 50%;
	background-color: #ccc;
	color: #fff;
  }
  
  .social-icon i {
	font-size: 20px;
  }  
  .social-icon.twitter {
	margin-top: 10px;
	background-color: #d9d9d9;
  }
  
  .social-icon.instagram {
	margin-top: 10px;
	background-color: #d9d9d9;
  }
  
  .social-icon.gmail {
	margin-top: 10px;
	background-color: #d9d9d9;
  }
  
  .social-icon.tiktok {
	margin-top: 10px;
	background-color: #d9d9d9;
  }
  

footer p {
	margin: 0
	}

	.button-container {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		grid-gap: 0px;
	  }
	  
	  button:hover {
		background-color: #808385; 
	  }
	  
	  button:active {
		background-color: #ffffff; 
	  }
	  
	  .dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: #e3e1e1;

}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #abb3b5;
}
img{width: 100%;}

.parent {
	display: block;
	position: relative;
	float: left;
	background-color: #f7f5ef;
	/* }border-right: #333 1px solid; */
	cursor: pointer; /* cursor de tipo mano */
	font-size: 12px; /* tamaño del texto */
	color: #000000
}

.parent a {
	color: #FFFFFF;
	text-decoration: none;
	color: #000000
}

.parent:hover>ul {
	display: block;
	position: absolute;
}

.child {
	display: none;
}

.child li {
	background-color: #ffffff;
	line-height: 35px;
	/*border-bottom: #CCC 1px solid;*/
	/*border-right: #CCC 1px solid;*/
	width: 100%;
}

.child li a {
	color: #000000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	min-width: 10em;
}

ul ul ul {
	left: 100%;
	top: 0;
	margin-left: 1px;
}

li:hover {
	background-color: #f7f5ef;
	color: #000000;
	text-decoration: underline;
}

.parent li:hover {
	background-color: #d9d9d9;
}

.expand {
	font-size: 12px;
	float: right;
	margin-right: 5px;
}

@media only screen and (min-width: 768px){
	#titulo{
		width:20%;
		height: 5%;
	}
	#slogan{
		width:17%;
		height: 5%;
	}
	.button-container {
		display: flex;
		justify-content: center;
		grid-gap: 20px;
	  }

	  .parent {
		font-size: 16px; /* tamaño del texto */
	}
	.parent a {
		margin: 10px;
	}
}
