body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
	font-size: 36px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

section {
	flex: 2;
	margin-right: 20px;
}

section h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 20px;
}


button {
	background-color: #333; /* color de fondo */
	color: #fff; /* color del texto */
	border: none; /* sin borde */
	border-radius: 5px; /* bordes redondeados */
	padding: 10px 20px; /* relleno interno */
	font-size: 16px; /* tamaño del texto */
	cursor: pointer; /* cursor de tipo mano */
  }
  
  /* Estilo de botón cuando el cursor está encima */
  button:hover {
	background-color: #808385; /* color de fondo más oscuro */
  }
  
  /* Estilo de botón cuando se presiona */
  button:active {
	background-color: #ffffff; /* color de fondo aún más oscuro */
  }
.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input, textarea {
	padding: 5px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	font-weight: bold;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
