body {
	margin: 0;
	padding: 0;
	font-family: Lora;
	color: #000000;
}

header {
	background-color: #f7f5ef;
	color: #fff;
	padding: 20px;
	color: #000000;
	
}

header h1 {
	margin: 0;
	font-size: 36px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

#principal{
	width:100%;
	height: auto;
}

section {
	flex: 2;
	margin-right: 20px;
}

section h2 {
	margin-top: 0;
	
}

article {
	margin-bottom: 40px;
}

article h3 {
	margin-top: 0;
}

article img {
	max-width: 100%;
}

aside {
	flex: 1;
}

aside h2 {
	margin-top: 0;
}

aside ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;

}

aside li {
	margin-bottom: 10px;
}

aside a {
	color: #ffffff;
	text-decoration: none;
}

h3 {
	margin: 0;
	font-size: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
  }

p {
	margin: 0;
	font-size: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
  }

footer {
	background-color: #d9d9d9;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0
	}

	.button-container {
		display: flex;
		justify-content: center;
		grid-gap: 25px;
	  }
	  
	button {
		background-color: #f7f5ef; /* color de fondo */
		color: #000000; /* color del texto */
		border: none; /* sin borde */
		border-radius: 5px; /* bordes redondeados */
		padding: 10px 20px; /* relleno interno */
		font-size: 16px; /* tamaño del texto */
		cursor: pointer; /* cursor de tipo mano */
		display: flex;

	  }
	  
	  /* Estilo de botón cuando el cursor está encima */
	  button:hover {
		background-color: #808385; /* color de fondo más oscuro */
	  }
	  
	  /* Estilo de botón cuando se presiona */
	  button:active {
		background-color: #ffffff; /* color de fondo aún más oscuro */
	  }
	  
	  .dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: #e3e1e1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #abb3b5;
}
img{width: 100%;}

.parent {
	display: block;
	position: relative;
	float: left;
	background-color: #f7f5ef;
	/* border-right: #333 1px solid; */
	cursor: pointer; /* cursor de tipo mano */
	font-size: 16px; /* tamaño del texto */
	color: #000000
}

.parent a {
	margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	color: #000000
}

.parent:hover>ul {
	display: block;
	position: absolute;
}

.child {
	display: none;
}

.child li {
	background-color: #ffffff;
	line-height: 35px;
	/*border-bottom: #CCC 1px solid;*/
	/*border-right: #CCC 1px solid;*/
	width: 100%;
}

.child li a {
	color: #000000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	min-width: 10em;
}

ul ul ul {
	left: 100%;
	top: 0;
	margin-left: 1px;
}

li:hover {
	background-color: #f7f5ef;
	color: #000000;
	text-decoration: underline;
}

.parent li:hover {
	background-color: #d9d9d9;
}

.expand {
	font-size: 12px;
	float: right;
	margin-right: 5px;
}

#bandera{
	width:100%;
	height: 50px;
}

#torre1{
	width:100%;
	height: auto;
}

.container_titulo {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Rojo Blanco Azul"
      ". . ."
      ". . .";

      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 30px;
  }
  
  .Rojo { grid-area: Rojo; }
  
  .Blanco { grid-area: Blanco; }
  
  .Azul { grid-area: Azul; }

  .container_lista {  display: grid;
    grid-template-columns: 1fr 0.9fr 1.1fr;
    grid-template-rows: 0.1fr 2.1fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Titulo Titulo Titulo"
      "Texto Texto Foto"
      ". . .";
  }
  
  .Titulo { grid-area: Titulo; 
    background-color: #d9d9d9; 
    margin-bottom: 20px;
    /* no está afectando */
    text-align: left; 
    font-size: 30px;
}
  
  .Texto { grid-area: Texto; 
    text-align: left; 
}
  
  .Foto { grid-area: Foto; }

  .container {
	display: grid;
	justify-content: center;
	align-items: center;
  }